beautifulsoup4==4.9.1
bottle==0.12.18
geopy==1.22.0
ipykernel==5.3.0
ipython==7.14.0
jupyter==1.0.0
lxml==4.6.2
matplotlib==3.2.1
numpy==1.18.4
pandas==1.0.3
requests==2.23.0
urllib3==1.26.5
wget==3.2